@charset "utf-8";

@font-face {
  font-family: 'DejaVuSansMono';
  src: url('../fonts/DejaVuSansMono.eot');
  src: url('../fonts/DejaVuSansMono.eot?#iefix') format('eot'),
     url('../fonts/DejaVuSansMono.woff') format('woff'),
     url('../fonts/DejaVuSansMono.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceCodePro';
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('eot'),
    url('../fonts/SourceCodePro-Regular.ttf.woff') format('woff')
}

body {
  background-color: black;
}

#canvas, .test {
  font-family: "SourceCodePro", "Source Code Pro", monospace;
  white-space: pre;
  text-align: center;
  line-height: 20px;
  letter-spacing: 4px;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}